html {
  font-size: 1rem;
}
.fonte-titulo {
  font-family: 'Pacifico', cursive;
}
.imagem-carousel {
  object-fit: cover; 
  object-position: 0 80%;
  height: 500px;
}
.fonte-titulo {
  font-family: 'Pacifico', cursive;
}
.texto-cor-titulo {
  color: #8D0606;
}